# Mozesz zostawic tylko OTOMOTO_URL_1 albo dopisac kolejne linki:
OTOMOTO_URL_1=https://www.otomoto.pl/osobowe/uzywane/?search%5Border%5D=created_at_first%3Adesc
OTOMOTO_URL_2=
OTOMOTO_URL_3=

# Stary zapis OTOMOTO_URL= nadal dziala, ale przy wielu linkach wygodniejsze sa numerowane linie.
# Alternatywnie mozna uzyc jednej linii: OTOMOTO_URLS=link1|link2|link3

DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/000000000000000000/your_webhook_token
CHECK_INTERVAL_SECONDS=120
FIRST_RUN_NOTIFY=false
